{% extends "layout.html" %} 

{% block container %} 



<div class="relative overflow-x-auto">
    <a href="Alumnos" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Read more</a>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-s-base font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellido
                </th>
                <th scope="col" class="px-6 py-3 rounded-e-base font-medium">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Detalles
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    José Rogelio
                </th>
                <td class="px-6 py-4">
                    Echeveste Mendiola
                </td>
                <td class="px-6 py-4">
                    82689@alumnos.utleon.edu.mx
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-indigo-600 hover:text-indigo-900">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-emerald-600 hover:text-emerald-900">Detalles</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-rose-600 hover:text-rose-900">Eliminar</a>
                </td>
            </tr>
            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    Estefania Isabel
                </th>
                <td class="px-6 py-4">
                    Arellano Martinez
                </td>
                <td class="px-6 py-4">
                    @alumnos.utleon.edu.mx
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-indigo-600 hover:text-indigo-900">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-emerald-600 hover:text-emerald-900">Detalles</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-rose-600 hover:text-rose-900">Eliminar</a>
                </td>
            </tr>
            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    José Luis Uriel
                </th>
                <td class="px-6 py-4">
                   Zavala Zavala
                </td>
                <td class="px-6 py-4">
                    @alumnos.utleon.edu.mx
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-indigo-600 hover:text-indigo-900">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-emerald-600 hover:text-emerald-900">Detalles</a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-bold text-rose-600 hover:text-rose-900">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}