{% extends "layout.html" %} 
{% block container %} 
{% import "_macros.html" as macros %}

<div class="w-full max-w-5xl space-y-6">
  <div class="flex h-screen justify-center items-center">
    <div class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs md:flex-row md:max-w-xl w-full">
      
      <div class="flex flex-col justify-between md:p-4 leading-normal w-full">
        
        <div class="flex justify-center mb-6">
          <img 
            src="{{ url_for('static', filename='img/usuario_default.png') }}" 
            alt="Foto del maestro" 
            class="w-32 h-32 rounded-full object-cover border-4 border-default shadow-md"
          >
        </div>

        <h5 class="mb-4 text-2xl font-bold tracking-tight text-heading text-center">
          Detalles del Maestro
        </h5>

        
        <form class="space-y-4">
          <div class="mb-3">
            <label class="block text-sm font-medium text-body mb-1">Nombre:</label>
            {{ macros.campoNuevo(form.nombre, value=nombre, readonly=True, class="bg-neutral-secondary-light border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 cursor-not-allowed") }}
          </div>

          <div class="mb-3">
            <label class="block text-sm font-medium text-body mb-1">Apellidos:</label>
            {{ macros.campoNuevo(form.apellidos, value=apellidos, readonly=True, class="bg-neutral-secondary-light border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 cursor-not-allowed") }}
          </div>

          <div class="mb-3">
            <label class="block text-sm font-medium text-body mb-1">Especialidad:</label>
            
            {{ macros.campoNuevo(form.especialidad, value=especialidad, readonly=True, class="bg-neutral-secondary-light border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 cursor-not-allowed") }}
          </div>

          <div class="mb-3">
            <label class="block text-sm font-medium text-body mb-1">Correo Electrónico:</label>
            {{ macros.campoNuevo(form.email,  readonly=True, class="bg-neutral-secondary-light border border-default-medium text-heading text-sm rounded-base block w-full px-3 py-2.5 cursor-not-allowed") }}
          </div>

          <div class="flex gap-4 mt-6">
            
            <a href="{{ url_for('maestros.lista_maestros') }}" class="w-full text-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium font-medium rounded-base text-sm px-4 py-2.5 transition-all">
              Regresar
            </a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}